[2011-12-19 14:05] derrell opened #1 "Home page (meta issue)"
This is a meta issue for all issues related to the GUI redesign of the home page. This will be closed when each of the sub-issues has been addressed.

Where not otherwise indicated, base the implementation on this:

![Proposed home page](https://github.com/app-inventor-gallery/aig/raw/master/frontend/aiagallery/mockups/appinventor_c1_home_v2.png)

[2011-12-19 14:08] derrell opened #2 "Basic search in header of all pages"
See #1 for image.

In addition to the basic text box and "Search" button, add an "Advanced" link which directs to something like the current "Find Apps" page.

[2011-12-19 14:13] derrell opened #3 "Implement Tab View equivalent using links"
Replace the current tabs with links at the top-right of the page. See #1.

This may be able to be implemented by "excluding" the tab bar in the Tab View, and controlling it programmatically.  (That may require a bit of theming. I'm not sure what the top of the pane will look like if the tabs are excluded.)

Alternatively, create a set of subclasses as was done with aiagallery.widget.RadioView, to

[2011-12-19 14:16] derrell opened #4 "Login and Display Name display and editing"
Replace the username/password/Login button features in #1 with the link (as is done at present) to the Google login page.

[2011-12-19 14:18] derrell opened #5 "whoAmI RPC results to include 'displayName == googleId'"
Add to the results of the whoAmI RPC a flag that indicates whether the user's current display name is the same as the Google internal ID that we use as the default display name.

[2011-12-19 14:19] derrell opened #6 ""Edit Display Name" button"
Use the results of the new flag from #5 to add an "Edit Display Name" button or link whenever the flag is true. This will encourage users to provide a reasonable display name.

[2011-12-19 14:22] derrell opened #7 "Home page ribbons - add more App data"
Add author, number of downloads, etc. information for each app in the ribbon, as shown in #1.

(For the moment, we are not implementing the tab-based selection of ribbons. We'll stick with multiple ribbons for right now.)

[2011-12-19 14:28] derrell opened #8 "Shortcuts to searches"
Implement functions that provide easy shortcuts to searches. This will be used, for example, to allow clicking on an author name anyplace it occurs, and switching to a Search Results page which shows all apps from that author. The parameters to the function should allow an arbitrary search. A likely candidate parameter list is similar to that of liberated.dbif.Entity.query().

[2011-12-19 14:29] derrell opened #9 "Search results: all apps from author, when author's name is clicked."
This relates to #7, and therefore to #1. There may be other places where an author is shown, too.

[2011-12-19 14:31] derrell opened #10 "Search Results (meta issue)"
This is a meta issue for all issues related to the GUI redesign of the Search Results page. This will be closed when each of the sub-issues has been addressed.

Where not otherwise indicated, base the implementation on this:

![Search Results](https://github.com/app-inventor-gallery/aig/raw/master/frontend/aiagallery/mockups/appinventor_c1_applibrary_search.png)

[2011-12-19 14:32] derrell commented on #9
Search results page to redirect to is shown in #10.

[2011-12-19 14:36] derrell opened #11 "My Apps (meta issue)"
This is a meta issue for all issues related to the GUI redesign of the My Apps (formerly My Stuff) page. This will be closed when each of the sub-issues has been addressed.

Where not otherwise indicated, base the implementation on this:

![My Apps](https://github.com/app-inventor-gallery/aig/raw/master/frontend/aiagallery/mockups/appinventor_c1_myinventor_myprojects_v3.png)

[2011-12-19 14:38] derrell commented on #11
This is the preferred view:

![My Apps](https://github.com/app-inventor-gallery/aig/raw/master/frontend/aiagallery/mockups/appinventor_c1_myinventor_myprojects_v3b.png)

[2011-12-19 14:42] derrell opened #12 "Inline AppInfo editing (vs. in separate tab)"
Use a collapsable panel for inline editing of app info. See #11.

Considerations:
- Has all entered data been saved?
- Is it reasonable to collapse the panel if entered data is not saved? If so, how to indicate such?
- Allow saving partial data? (Requires new status value: Published, if we do this)

[2011-12-19 14:43] derrell commented on #11
Eliminate the "Create new app" button

[2011-12-19 14:44] derrell opened #13 "Upload App"
This refers to the Upload App button in #11.

Open a collapsable panel for uploading an app, as is done in #12. All of the issues from #12 apply here too.

[2011-12-19 14:46] derrell commented on #13
Additional feature changes
- Add a "Cancel" button in addition to the "Save" button
- Save button is enabled when all info has been entered (this implies no partial saving of information as considered in #12)
- Consider a "blur" event handler on entire inline editor

[2011-12-19 14:49] derrell opened #14 "Add Publish/Unpublish capability"
This requires a new Status value, probably "Unpublished". "Active" takes the effect of "Published". We may want to globally replace "Active" with "Published". All queries that currently return results of Active will return published apps. Some of those queries should be modified to return both published and unpublished apps.

The My Apps page shown in #11 depicts the Publish button, which should t

[2011-12-19 14:51] derrell opened #15 "Project Detail (meta issue)"
This is a meta issue for all issues related to the GUI redesign of the Project Detail (formerly App Info) page. This will be closed when each of the sub-issues has been addressed.

Where not otherwise indicated, base the implementation on this:

![Project Detail](https://github.com/app-inventor-gallery/aig/raw/master/frontend/aiagallery/mockups/appinventor_c1_library_projectdetail_1a_v1.png)

[2011-12-19 14:55] derrell opened #16 "Project Detail alterations"
Modifications to design shown in #15:
- Eliminate "Components"
- Move "By this author" to top
- In bottom, where "By this author" is in mockup, add search for "Similar Apps" which searches for all projects with the same category tags as this app. (Preferably sort "randomly")
- Comments use collapsable panel
- Add Likes count instead of star rating

[2011-12-19 14:55] derrell opened #17 "Scale down images at server"

[2011-12-19 14:58] derrell opened #18 "Single image at frontend"
In frontend, provide access to only a single image. Leave backend three images, for future use.

[2011-12-19 14:59] derrell opened #19 "Application Management page"
This page is not working fully. Complete it.

Be sure that application flags management can be accomplished from here.

[2011-12-19 15:00] derrell opened #20 "Add Comment Management functionality"
This may be via special privs directly on Project Details page, or via a special management page.

[2011-12-19 15:00] derrell opened #21 "Provide means to flag comments"

[2011-12-19 15:01] derrell opened #22 "Provide means to "Like" comments"
Does the backend support this yet? (It's trivial to implement, if not.)

[2011-12-19 15:03] derrell commented on #8
This can include searching for a specific app, in which case that app page should be directly opened rather than the Search Results page.

[2011-12-19 15:04] derrell opened #23 "Modify browser's Location Bar URL for shortcuts"
If possible, modify the browser's location bar as each page is displayed, to provide a shortcut back to that same page.

[2011-12-19 15:05] derrell commented on #23
qooxdoo has a "History" class that may assist with this. Even if the URL can't be modified in the Location bar, we may be able to show the shortcut using the History class (or otherwise) as a link that copies the shortcut to the clipboard.

[2011-12-19 15:06] derrell commented on #23
This relates to #8.

[2011-12-19 15:07] derrell opened #24 "Display search criteria on search results page"
Find a reasonable, generic format in which search results can be depicted at the top of the Search Results page. (#10)

[2011-12-19 15:08] derrell opened #25 "Search entity contains garbage"
The search object needs words to be stemmed better. Currently quotes, parenthesis, etc. are added to the Search entity type, as are some empty entries. Also, numbers are added but must be excluded.

[2011-12-19 16:08] derrell commented on #19
Assigned to Mike

[2011-12-19 17:10] derrell commented on #3
Hey @fgmart take a look!

[2011-12-19 17:10] #3 closed, assigned to derrell

[2011-12-19 17:26] fgmart-zz commented on #3
awesome!  "that was easy"  (i imagine)

[2011-12-19 17:29] derrell commented on #3
Yup. Had a "light bulb" in the shower that made it even easier. (No need to extend the Tab View; rather, just hide it, and control it externally.) Most of the time I spent was figuring out how to get the appearance of the "links" to look right.

[2011-12-19 17:30] derrell commented on #3
"hide it" meaning hide the tab bar.

[2011-12-19 18:19] fgmart-zz commented on #3
it is scary how much good work gets done in the shower.

[2011-12-19 18:45] derrell commented on #3
Commit b5cef5ed5238f600ff5e1682a5b89e46c1d489ce adds a bit of theming. This is actually now starting to look half-way respectable.

[2011-12-20 18:47] derrell opened #26 "Pre-load qooxdoo classes"
Arrange for initialization to be accomplished when an instance of the RpcServlet is created, rather than waiting until the first RPC request is made.

[2011-12-20 18:56] derrell commented on #26
Fixed with 06f595cfec2e8b15be45ddbcf7483e97ed080810

@fgmart Each request should now be satisfied far more quickly. Initialization happens once when an instance is started, instead of upon each RPC request.

[2011-12-20 18:56] #26 closed, assigned to derrell

[2011-12-20 21:59] fgmart-zz commented on #26
yay

[2011-12-21 01:15] derrell opened #27 "Use database transactions in RPCs"
Search all RPCs to find ones with multiple put() and/or removeSelf() calls. Wrap these in a transaction.

[2011-12-21 01:34] derrell commented on #27
This should be all set now. Closing.

[2011-12-21 01:34] #27 closed, assigned to derrell

[2011-12-21 16:00] derrell opened #28 "Throw errors instead of using passed error parameter in RPCs"
Depends: https://github.com/liberated/liberated/issues/6

Once liberated removes JSON-RPC version "qx1" support and allows RPCs to throw errors instead of returning the error parameter, correct all of our RPCs to throw errors.

[2011-12-22 21:40] derrell commented on #6
Fixed with 18d3023

[2011-12-22 21:40] #6 closed, assigned to derrell

[2011-12-22 21:41] derrell commented on #5
Fixed with 18d3023

[2011-12-22 21:41] #5 closed, assigned to derrell

[2011-12-22 23:24] derrell commented on #23
See qooxdoo/application/playground/source/class/playground/Application.js and its use of qx.bom.History. We should be able to assign a unique URL to each page easily, and have it show up in the Location bar.

[2011-12-29 15:29] derrell opened #29 "Remove use of setEntityKeyProperty"
Depends: https://github.com/liberated/liberated/issues/7

[2012-01-05 19:12] derrell opened #30 "Add whitelist to allow for beta testers"
This can be implemented by removing the "! anonymous" entries in the authenticate() method, and using explicit permissions instead.

We MUST get the unit tests for explicit permissions confirmed to be working correctly and without error before closing this issue.

[2012-01-05 19:13] derrell opened #31 "-Initial beta with very limited number of users (10?)"
Depends: #30

[2012-01-05 19:13] derrell opened #32 "-Beta at MIT with more users (300 to thousands?)"
Depends: #31

[2012-01-07 22:18] derrell opened #33 "delete Likes and Flags objects when an app is deleted"
Currently, deleting an app delete all source and apk blobs, and any search entries in the database which are associated with the app. It does not however delete objects from Likes or Flags which pertain to the app. It must do so.

(Caveat: This may be obsoleted by a decision to mark deleted apps as deleted, but not actually delete them.)

[2012-01-08 01:44] #33 closed, assigned to derrell

[2012-01-12 15:17] derrell opened #34 "Add site activity logging"
Each RPC should be logged (request and response). Consider how much parsing is required at logging time vs saving the JSON for later processing.

Also add log of requests to load the GUI?

[2012-01-18 18:54] fgmart-zz opened #35 "expand Description field from one line to a small text box"
Users should be encouraged to write more than one line to describe their project.  The UI element that accepts the project description should be expanded to a small text box.

[2012-01-18 18:56] fgmart-zz opened #36 "Consider allowing HTML in project description"
Extending the project description to allow HTML would let users link to other content.  This could be valuable.

Related to #35.

[2012-01-24 13:51] derrell commented on #36
This is dangerous, so if we implement it, we must be very careful. It would be possible to inject code, for example, such that when a user other than the owner of a project viewed the project, all of the viewing users' projects would get deleted. My inclination is to disallow HTML, but we may be able to filter the description so that only certain markup is allowed.

[2012-01-24 13:51] derrell commented on #35
I'm implementing this in the new My Stuff

[2012-01-24 13:54] fgmart-zz commented on #36
@wolberd

[2012-01-24 13:55] #17 closed, assigned to derrell

[2012-01-24 14:04] derrell opened #37 "Permission groups management"
Implement a Management module to edit permission groups.

[2012-01-24 14:07] derrell opened #38 "Test use of permission groups"
There is code in the MDbifCommon authorization function to handle authorizing an RPC based on a user's membership in a permission group.  That code is commented out. It has typos and has clearly never been tested. Correct this code, and then write unit tests to validate that permission groups are working correctly.

[2012-01-24 14:10] fgmart-zz commented on #35
@wolberd

[2012-01-24 14:20] derrell commented on #30
The whitelist will be implemented using permission. Permission groups will enable easy implementation. See #37 and #38.

[2012-01-24 20:11] derrell opened #39 "Threaded comments"
Implement a GUI for threaded comments, so that a user can "reply" to a particular comment rather than just appending a comment to a single list of comments.

The backend for this already exists.

[2012-01-30 18:56] derrell commented on #25
I noticed that addOrEditApp() does:

[code]

to create all of the search entries. It never, however, deletes entries from Search when an app is edited. For example, if I add an app with a description of, say, "Star Wars shooter," then later edit it to "Star Wars adventures," the word "shooter" never gets removed from the Search list.

[2012-01-31 14:50] derrell opened #40 "Mobile __getComments is untested"
There's a FIXME comment. Confirm that this function works as required.

[2012-02-03 16:11] cpuwhiz11 commented on #38
From Derrell's description:

specifically, you want to ensure (a) if a user does not have an explicit permission for an rpc and is not in a permission group for an rpc, that he can not execute the rpc; (b) if he has explicit permissions to an rpc but is not in a pgroup that would give him permission for an rpc, that he can execute the rpc; (c) if he is in a pgroup that gives permission to execute

[2012-02-04 21:19] derrell opened #42 "Publish/Unpublish"
See also #12. Implement publish/unpublish.

[2012-02-04 21:20] derrell commented on #12
Implemented.

At present, the frontend requires that all fields be completed before submitting a new app. The backend has been refactored to accept partial submission, which is currently used for updates to an existing app. Later, we might be able to do async updates not requiring the user to press the Save button.

The panel may be collaped if entered data has not been saved. The Status field, vi

[2012-02-04 21:20] #12 closed, assigned to derrell

[2012-02-04 21:21] derrell commented on #14
The backend portion of this has been done. See also #42. Closing this one.

[2012-02-04 21:21] #14 closed, assigned to derrell

[2012-02-04 21:21] derrell commented on #13
Fully implemented. See #12. Closing.

[2012-02-04 21:21] #13 closed, assigned to derrell

[2012-02-04 21:22] derrell commented on #11
Except for publish/unpublish (now in #42), this is fully implemented. Closing.

[2012-02-04 21:22] #11 closed, assigned to derrell

[2012-02-04 21:22] derrell commented on #18
Done with #12. Closing.

[2012-02-04 21:22] #18 closed, assigned to derrell

[2012-02-07 01:17] derrell commented on #23
@cpuwhiz11 to you

[2012-02-07 18:24] derrell commented on #35
Done.

[2012-02-07 18:24] #35 closed, assigned to derrell

[2012-02-07 18:27] derrell commented on #37
This is complete. We may want to revise the GUI somewhat, later. If so, a new bug should be created. Closing.

[2012-02-07 18:27] #37 closed, assigned to cpuwhiz11

[2012-02-07 18:29] derrell commented on #38
@cpuwhiz11 are all of the tests you intended to implement complete?

[2012-02-07 18:30] derrell commented on #25
@reedspool I've received no status for quite a while...

[2012-02-07 18:57] cpuwhiz11 commented on #38
Correct.

[2012-02-07 19:59] derrell commented on #38
Closing.

[2012-02-07 19:59] #38 closed, assigned to cpuwhiz11

[2012-02-09 21:08] fgmart-zz opened #43 "make site Google-crawlable"
so people can find stuff

[2012-02-10 21:11] fgmart-zz opened #44 "reset and discard buttons should be harder to hit"
In My Apps module, the "Reset" and "Discard" buttons should be smaller or moved away from the Save Application button.

Hitting either of them causes you to lose work.  So they should be harder to hit.  This is a GUI design issue.

Also I don't understand the difference between reset and discard.  Would discard actually remove my app?  Then it should probably be labeled "Delete this App" and presu

[2012-02-11 19:55] fgmart-zz opened #45 "App Info page doesn't fit into 1024x768 screen."
This should be fixed.

Home Page, My Apps, and Find Apps are all OK.

[2012-02-12 16:27] fgmart-zz opened #46 "When you edit info on your existing app, it re-uploads ZIP and image?"
Does the system attempt to re-upload your ZIP and source file when you just edit the text on a previously uploaded app?  It seems to from the way it messages back to the user (it says, "Uploading").

[2012-02-12 16:29] fgmart-zz commented on #46
OK, I no longer think it does this, because I moved the source files so that they weren't in their original places, and it still updated my app properly.

So I guess the fix is... it should display "Updating..." instead of "Uploading..." when you update an existing app?

[2012-02-12 17:07] fgmart-zz opened #47 "read-only visitors are able to change their display name"
Even if you have no authorship rights, you can change your display name.

We probably should not allow this.

[2012-02-12 18:54] derrell commented on #44
Reset sets all fields back to what they were before you started editing. This is standard web terminology. There's even an HTML button type called "reset" for this purpose.

Separating the Save button from the other two seems appropriate.

The "Delete this App" button is called just that on apps that can be deleted. For apps that are being edited but have not yet been uploaded, it's called "Discar

[2012-02-12 18:54] derrell commented on #45
The App Info page has not yet been reimplemented. This will be accomplished with that work. Closing.

[2012-02-12 18:54] #45 closed, assigned to nobody

[2012-02-12 18:56] derrell commented on #46
It's uploading your new changes. That should be visible only for a very short period of time if no zip or image file is being changed. The code would be unnecessarily complicated to add yet another status value based on what data is being uploaded, so I'm not too amenable to this change. Leaving open for further discussion in the future.

[2012-02-13 21:07] derrell commented on #43
On Mon, Feb 13, 2012 at 15:47, Mark Friedman markf@google.com wrote:
For the app index you might want to use a sitemap.  Take a look at https://support.google.com/webmasters/bin/answer.py?hl=en&answer=156184&topic=8476&ctx=topic

[2012-02-14 00:08] reedspool commented on #25
Fixed! Tested and working to the point that we talked about. The only stemming i added was checking against the regex

[code]

So you'll have to decide if you want more in the future. The second problem there is also fixed; that is, search is updated when the app is updated. Pull Requesting now.

[2012-02-15 01:59] derrell commented on #47
This should no longer be the case. Please test. (It may appear to work locally, but refreshing should show that it didn't. Display name management works a bit differently than other RPCs.)

[2012-02-15 02:02] derrell commented on #30
RPCs which write data now require explicitly-granted permissions to be called. Permission groups are implemented, and a permission group called "Whitelist" has been added. Whitelist membership can be edited using Management -> Permissions or with Management -> Users.

[2012-02-15 02:02] #30 closed, assigned to derrell

[2012-02-15 04:18] fgmart-zz commented on #47
yes, fixed as you describe.

[2012-02-15 04:18] #47 closed, assigned to nobody

[2012-02-16 17:53] derrell opened #51 "Wrong hierarchy when selecting Find Apps or My Apps images on home page"
Clicking on the image or textual description in the middle of the Home page, for either Find Apps or My Apps, displays the page but leaves the Hierarchy at "Home". This click should generate a call to the switch-to-module function being created for issue #23 so that the hierarchy gets updated properly.

[2012-02-16 20:15] derrell opened #52 "possible memory leak in Module class"
It looks like entries are added to the _list member, but never removed, e.g., when ephemeral pages are removed.

Consider replacing getList() with getAndFreeList() since the items on the list are needed only once (I think) during main.buildGui().

Further, consider using the normal list mechanism in Module in place of the manual map, when modules are added later. The two places to change are in ma

[2012-02-18 21:21] reedspool opened #53 "Problem uploading image"
I attempted to upload a png image for an App and received a JS alert saying:

Async(undefined) exception: Error -32603: Method threw an error: Error: Database write error: JavaException: com.google.apphosting.api.ApiProxy$RequestTooLargeException: The request to API call datastore_v3.Put() was too large.

the image used can be found at
http://tinyurl.com/aigerrorimage

[2012-02-19 21:18] reedspool opened #54 "A few apps still processing"
A day later, 3 of my apps are still status: Processing Specifically LOTR Protect, Stay Occupied, and Class Text Vote.

This is 3/18. Not a happy scaling number. The main purpose of this issue, though, is to highlight that I have no information but that they are Processing. Zero info about what I could do to mend this, or what exactly is the problem.

[2012-02-22 19:59] derrell commented on #25
Reassigned to Paul.

[2012-02-22 20:09] reedspool commented on #25
I am leaving this issue to Paul G. Here is the current state of affairs.

The use of the regex to block invalid data is working, and tested in the final tests of the KeywordSearchTest. The quality of the regex currently in use is flimsy at best, but the system is working and easily adjustable.

Stop-words, which should never be added to the search db, are being added. They are being blocked from s

[2012-02-22 21:17] cpuwhiz11 commented on #25
There is no luck, only the force.

[2012-02-22 21:23] derrell commented on #25
Do, or do not. There is no try.

[2012-02-26 18:56] cpuwhiz11 commented on #23
Issue is mostly complete. The url is modified depending on what page the user is on. This also allows the back and forward button to work as intended. Waiting for Find Apps page to be refactored to complete this issue.

[2012-02-26 19:03] derrell commented on #23
Great. Does bookmarking a page and getting back to it later also work properly yet?

[2012-02-26 19:14] cpuwhiz11 commented on #23
Yes bookmarks are working. The actual name of the bookmark is not being updated, so that will be something I will have to look into.

[2012-02-27 02:18] fgmart-zz opened #56 "should be able to click on app in "By this author" sidebar"
In the "By this author" sidebar, you should be able to click on an app's icon image or title and have the site bring up the app itself

[2012-03-08 21:56] fgmart-zz opened #58 "ensure uniqueness of display-names"
when a user logs in for the first time, check if their nickname from google is unique in our displayname database.

if so-- > OK, that is their displayname
if not-> they have their google unique ID as displayname

Also, when user tries to change his/her displayname, check if they've chosen a newly unique one, and if not, give them a "try again, that name is taken" dialog.

[2012-03-08 21:59] fgmart-zz opened #59 "modify advanced find-apps search to use displayname"
instead of author ID, allow search on displayname, which after #58 is implemented, will be unique.  (convert displayname into author ID for actual search query)

[2012-03-11 18:41] cpuwhiz11 opened #60 "Display Message if No Search Results Found"
If the user executes a search in Find Apps and no results are returned a message should be displayed somewhere that informs the user that their search found nothing.

[2012-03-14 16:43] derrell commented on #56
Long since fixed.

[2012-03-14 16:43] #56 closed, assigned to nobody

[2012-03-14 16:45] derrell commented on #24
This is implemented in the new Find Apps.

[2012-03-14 16:45] #24 closed, assigned to derrell

[2012-03-14 16:46] derrell commented on #16
The new AppInfo page is complete.

[2012-03-14 16:46] #16 closed, assigned to nobody

[2012-03-14 16:46] derrell commented on #15
The new AppInfo page is complete.

[2012-03-14 16:46] #15 closed, assigned to derrell

[2012-03-14 16:47] #4 closed, assigned to derrell

[2012-03-14 16:48] derrell commented on #2
@fgmart I'm not sure this is necessary, and in fact, will make the interface less tidy. What are your thoughts?

[2012-03-14 18:29] fgmart-zz commented on #2
I have never thought we need anything more than text box with associated search button.

Let me restate that -- I do think we want a "visual browse for similar" functionality.

E.g., you find some apps, you go to one, you see others by that author, you click on one, etc. and etc. forever.  We do want this.

[2012-03-15 16:55] derrell commented on #51
This problem has migrated to being incorrect when selecting one app from another app's page. The hierarchy appends the new app to the old one.

I have disabled (hidden) the hierarchy for now. At some point we can discuss whether it should be fixed and re-enabled, or simply stripped out.

[2012-03-15 16:57] derrell opened #63 "non-bold page selector links when in an App page"
Currently, when clicking on an app and going to its AppInfo page, the page selector link bar at the top of the page remains highlighted for whatever page was active. When an app is selected, all page selector links should be non-bolded.

[2012-03-15 16:57] derrell commented on #63
@cpuwhiz11 to you

[2012-03-15 19:41] cpuwhiz11 opened #64 "On Find Apps Page Executing A Different Search Is Inefficient"
On the Find Apps page, given the right conditions, it is possible that some code will be run again producing the same result. This is inefficient.

How to Replicate:
1. Go to the Find Apps page and go to the "Specific Fields" radio button page.
2. Ensure all the fields are currently empty.
3. Click the likes drop down box and select any of those options.
4. Click search.

The user will see the cor

[2012-03-16 18:52] derrell commented on #2
Ok, but that's not answering my question. We have the "Apps by this author" feature in place. No problem there. Given that we already have a Find Apps top-level page, with the simple text search that you desire (and also a more sophisticated search feature), do we _also_ need the same simple text search in the header of every page? I think it's not, for the reasons mentioned above.

[2012-03-16 19:13] fgmart-zz commented on #2
Sorry, I missed the "on all pages" portion of this.

No, we don't need that.

[2012-03-16 19:13] derrell commented on #2
Thanks. Closing.

[2012-03-16 19:13] #2 closed, assigned to nobody

[2012-03-18 15:32] fgmart-zz opened #66 "31-char limit on app title?"
The app title field is limited to 31 characters.

Two comments:
- This seems too short.  I would recommend more... maybe 40 ?
- If you prefer to keep it this short, would you shorten the dialog box that accepts the title to match the limit ?

[2012-03-18 15:42] derrell commented on #66
The field length limit is actually 30, not 31. This length was selected as "reasonable" and so that the full title fits in the boxes in the home page ribbons.

The dialog box text field size was determined specifically to fit 30 'M's so I believe it is already the correct size.

We can consider a longer max limit, but then we'll have truncation on the home page ribbons, and I felt that was undesir

[2012-03-18 15:48] fgmart-zz commented on #66
Sounds fine to me.  Let's just shorten the title dialog box then?

[2012-03-18 16:18] derrell commented on #66
But the title dialog box is already the correct size for 30 'M's. For that reason, I don't think it should be shortened.

[2012-03-18 16:48] fgmart-zz commented on #66
When I type in the Ms, it stops accepting them before I reach the end:

http://www.cs.uml.edu/~fredm/tmp/aicg-title-limit.png

It would be better to have it a bit too small than a bit too large.

[2012-03-18 18:13] derrell commented on #66
Ok. That was by design to allow for different browsers to have slightly larger font sizes. It's a trivial change to reduce it, though. Let me know what pixel width you'd like for the input field.

[2012-03-18 18:29] fgmart-zz commented on #66
I'd say about 15%-20% shorter than the existing field.

[2012-03-18 23:49] derrell commented on #66
Fixed with 2b9c7923a1c69e49db0b4d5544fbb61d570e2043 (not yet live)

[2012-03-18 23:49] #66 closed, assigned to nobody

[2012-03-19 12:21] derrell commented on #23
Incorporated into master. Closing.

[2012-03-19 12:22] derrell commented on #25
Incorporated into master. Closing.

[2012-03-19 12:22] #25 closed, assigned to cpuwhiz11

[2012-03-21 15:55] Grav3mind opened #67 "Commenting UI"
The commenting UI will be implementing using 4 classes, each of which constitutes a new widget.

*CollapsibleCommentPanel
*ExpandedDetail
*CollapsedSummary
*ExpandedSummary

The CollapsibleCommentPanel will extend the contributed qx widget "CollapsiblePanel.panel". While collapsed, the user will only see the summary part, which at this point will be a CollapsedSummary. CollapsedSummary will contai

[2012-03-23 15:36] derrell commented on #63
Modified code to move the link bar to be left-justified, and replaced "App" link with the title of the selected app. Discovered a bug, though. If an app is displayed, and a new app is selected from "By this author" then the link bar gets two app title (formerly "App") links in it.

[2012-03-24 00:18] derrell commented on #63
Included in master. Closing.

[2012-03-24 00:18] #63 closed, assigned to cpuwhiz11

[2012-03-24 00:19] #54 closed, assigned to nobody

[2012-03-24 00:19] derrell commented on #51
Removed hierarchy.

[2012-03-24 00:19] #51 closed, assigned to nobody

[2012-03-24 00:20] derrell commented on #60
@cpuwhiz11 to you

[2012-03-24 00:24] derrell commented on #58
@cpuwhiz11 to you. We'll have to discuss this. It could end up as an invasive change, and I'd like to avoid that. You can begin looking at the code that automatically assigns a display name when a brand new visitor is found (identify() maybe?) and at the RPC that allows changing a display name. In both cases, we'll need to, all within a transaction, search to ensure that the display name does not

[2012-03-24 14:24] derrell opened #72 "Validate uploaded zip file"
See appinventor/appengine/src/com/google/appinventor/server/FileImporterImpl.java, look for "throw new FileImporterException" in methods called "importProject".

[2012-03-24 16:58] cpuwhiz11 opened #73 "Disable Actions a User Has no Permission for"
If a user does not have permission to do an action in AIG then that action should not be enabled for the user. For example if a user does not have permission to like an app then the "Like it" button should not be enabled. We could gray out the button and display a small message underneath urging the user to log in.

[2012-03-24 19:25] fgmart-zz opened #74 "app-specific URLs don't quite work on Ubuntu/Chrome browser"
Paul -- I love all the work you've accomplished.  The per-app URL stuff looks great.

So it totally works on Firefox.

On Chrome browser and Ubuntu, I get the following behavior:
1.  if I paste a valid URL (e.g,. http://app-inventor-gallery.appspot.com/#page%3DApp%26uid%3D21007%26label%3DStar%20Assault) into a new tab, it loads the AIGC home page.
2.  I can then click another app, navigating off t

[2012-03-25 01:14] cpuwhiz11 commented on #74
I can confirm that these issues are happening on the Chrome browser. It also seems to be happening in Internet Explorer. I will look into these issues.

[2012-03-25 02:07] Grav3mind commented on #67
I couldn't find my original drawings, but here is a mockup that I just did so you can see where I am coming from.

http://tinypic.com/r/1zp79de/5

[2012-03-26 12:51] derrell opened #76 "Too many stop words for this application"
The list of stop words for searches is too restrictive, preventing finding apps with reasonable keyword searches. Reduce the list of stop words to a much more selective list.

[2012-03-26 13:08] derrell commented on #76
to me

[2012-03-26 13:09] derrell commented on #76
Here's the original stop word list, taken from what's used by a search engine:

[code]

[2012-03-26 13:10] derrell commented on #76
@fgmart @cpuwhiz11 @reedspool
Here's my replacement. This should allow for a much more pleasant searching experience, avoiding the problem of known "significant" words in a title of description not finding the app. Let me know if there are any words in the original list that you feel should remain, i.e., be added to this list:

[code]

[2012-03-26 13:18] derrell commented on #74
Should now be fixed in live version.

[2012-03-26 13:18] #74 closed, assigned to nobody

[2012-03-26 19:14] fgmart-zz opened #77 "download count doesn't work"
title says it.

[2012-03-26 20:58] derrell commented on #77
Any preference for whether to track Downloads as we do with Likes? I could simply increment the count, or I could create a new entity for each download, with a record of who has downloaded, and when. (With Likes, we need to do that so that we prevent the same person from adding to the Likes count multiple times. With downloads, that's not necessary, but it's easy enough to do if we want the additi

[2012-03-26 21:07] fgmart-zz commented on #77
I'd say just increment each time a download occurs.  Anonymous users should be able to download.  We will ultimately support non-logged in users?

[2012-03-27 15:02] derrell commented on #77
Implemented in alpha020 (not yet default)

[2012-03-27 15:02] #77 closed, assigned to derrell

[2012-03-28 18:05] derrell commented on #60
Fixed.

[2012-03-28 18:05] #60 closed, assigned to cpuwhiz11

[2012-03-28 19:55] fgmart-zz commented on #58
@cpuwhiz11 Paul we had conversation on this today.  We must never display the person's Gmail addr (you already know this), but neither may we ever display the numeric Google ID.  Nor should we default to the person's "nickname" from their Google account.

So here is the new spec:

New user gets a six-character long, randomized screen name.  The first character shall be from the set [a-z], and each

[2012-03-28 21:11] derrell commented on #58
Paul, here's a slight change to what Fred described.

We'll do this in two parts, one now, and one later. Because of the current design of the display name change feature, it'll take a little bit of redesign to fully implement what Fred described. Specifically, returning to the change-display-name dialog after a failure will require some changes. For the moment, do as you and I discussed yesterday

[2012-03-28 21:20] fgmart-zz commented on #58
Thanks, Derrell.

Paul, for the case where the user tries to use characters we don't like, please display my error msg above in the dialog, and then as Derrell suggests when that gets closed, the user is back to square one.

[2012-03-28 21:28] cpuwhiz11 commented on #58
This makes sense.

[2012-03-28 21:45] derrell commented on #58
Actually, we already have a filter in place for what characters may be entered for a display name:
<code>
          filter : /[a-zA-Z0-9 _-]/
</code>

That's in the _editProfile() method of main.Gui. This prevents entering any invalid characters, so there's no specific error message required to handle the case of an illegal name entry.

[2012-03-28 22:15] fgmart-zz commented on #58
I like that solution -- prevent users from entering inappropriate chars in the first place :)

Is it OK to add a dot to the allowable char set?

[2012-03-28 22:26] derrell commented on #58
Sure. The filter can contain whatever set of legal characters we want. (You also, I think, wanted to exclude upper-case letters. I'm don't happen to agree with that -- some people like all lower case; others are offended by the lack of grammatical correctness -- but this would be the place to exclude them if you really think they should be disallowed.)

[2012-03-29 12:27] fgmart-zz commented on #58
I'm fine with upper and lower case -- as long as we do case-insensitive comparisons for uniqueness.  Is this OK?

[2012-03-29 12:35] derrell commented on #58
Absolutely. Paul, all you need to do is make displayName in ObjVisitors be a canonicalized field, with a mapping to lower case as the canonicalization function. See ObjTags for an example.

[2012-03-29 12:38] derrell opened #79 "Replace existing display names"
Alongside #58, we must write a one-time-use function that runs through the list of visitors assigning each of them a new base36 random value display names (and then let each visitor give himself a new display name if desired). This will re-index the newly-canonical displayName field.

@cpuwhiz11 to you
@fgmart fyi since you're watching #58

[2012-03-29 12:44] fgmart-zz commented on #58
OK great.

And the legal chars are digits and letters, plus separators hyphen, underscore, space, and period ?

[2012-03-29 12:46] derrell commented on #58
As you wish, m'Lord.

[2012-03-29 12:57] fgmart-zz commented on #58
"Some of you may die, but that is a sacrifice I am willing to make."

-- Lord Farquaat

[2012-03-30 03:04] mijoda commented on #19
Description of AICG Application Management Module

This module allows administrators to deal with abusive apps by
deleting them, or by editing certain of their fields.  The main page
contains a table of apps whose columns are fields of interest to an
admin.  The table may be ordered on any of the columns; initially, it
is usefully ordered by descending number of flags.

An app can be deleted from

[2012-03-30 12:16] derrell opened #80 "Comment flagging"
Add a mechanism to flag comments

[2012-03-30 12:17] derrell opened #81 "Comment management"
Add a management interface for editing and changing the status of comments. Flagged comments would be readily displayed here, for approval as acceptable, or banning.

Depends: #80

[2012-03-30 12:18] derrell opened #82 "Elide banned comments from returned comment list"
Depends: #80 and #81

When comments have been banned (or are pending administrator approval after N flags), replace their text with a marker indicating that there was a  comment here, but it has been removed.

[2012-04-03 15:37] derrell opened #84 "Never return ObjAppData.owner or ObjVisitors.id from any RPC"
To ensure total anonymity of users, even their numeric ID should not be returned by any remote procedure call. Their selected display name should be the only identifier of a user ever sent on the wire.

Be sure to check the return from the mobile requests as well.

[2012-04-03 15:57] derrell opened #85 "Editable "message of the day""
Text displayed on the Home page (some or all) must be retrieved from the database. For the moment, this can be static text. At some later point, we may decide to allow HTML or some other markup.

This is probably the right time to add an ObjSystem entity type, that for the moment contains nothing but the message of the day. There will never be more than a single entity of this entity type.

[2012-04-03 16:01] derrell commented on #85
The task for this issue involves the following parts:
- Define the ObjSystem entity type
- Create a management interface for editing the message of the day. This should allow multiple paragraph entry.
- Modify the Home page to display the message of the day. The MOD may be multiple paragraphs, so the Home Page should use a ScrollContainer to display it. (No horizontal scroll bar; vertical scroll b

[2012-04-03 17:55] fgmart-zz commented on #79
I think we don't need to do this, because before launch we'll be flushing the world when we move the app to the MIT instance?

[2012-04-03 23:36] fgmart-zz opened #86 "create and link Privacy Policy and Terms of Service page"
Create a page to display the privacy policy.
Insert text from Hal's approved copy.
Link to the privacy policy page next to TOS link at bottom of every page.

[2012-04-04 01:43] fgmart-zz opened #87 "during beta, put msg on home page that all projects will be deleted"
While the project is still hosted on the development instance, the home page should have text that lets all users (beta testers only, presumably) that projects (and comments etc.) _will_ be deleted before launch.

relates to #85.

[2012-04-04 01:44] fgmart-zz opened #88 "improve project icon in banner and favicon"
both of these are place-holders and should be improved by someone who specializes in this sort of thing.

[2012-04-04 10:20] fgmart-zz commented on #87
The following specific text should be added to the text at the bottom of the current blurb, in bold face:

Please note: the App Inventor Gallery is presently in a closed beta test.  All projects, comments, etc. will be erased  before launch.

@derrell, this is high priority; would you add this to the next build?  Thank you.

[2012-04-04 18:59] derrell commented on #87
to me.

[2012-04-04 19:00] derrell commented on #87
implemented with 66d30274b8ab05fd9e9780e098d11dbb8a98cd40

[2012-04-04 19:00] #87 closed, assigned to derrell

[2012-04-04 19:03] derrell opened #89 "Zip file detection files with Firefox 11 on Windows"
Replace zip file detection method. Instead of depending on the unreliable mime type, look at the file header. We can't (without a bunch of extra work) view the full (4-byte) file header based on the base64 encoding, be we can easily ensure that the first three bytes of the file header match the required header in a zip file.

[2012-04-04 19:03] derrell commented on #89
to me

[2012-04-04 19:03] derrell commented on #89
fixed with 89ec1594a3ff9ff4d4f6ff57a3b3b0500aaac4e1

[2012-04-04 19:03] #89 closed, assigned to derrell

[2012-04-06 13:45] fgmart-zz opened #91 "create and link Supported Browsers page"
put a link next to Tos and Privacy links in footer to explain supported browsers.

[2012-04-06 13:55] fgmart-zz commented on #32
At this point, the instance is at MIT and people are loading it with real data.

[2012-04-06 14:01] fgmart-zz opened #92 "-actually move instance to MIT"

[2012-04-06 14:02] fgmart-zz opened #93 "-synchronous testing with 10 users"

[2012-04-06 14:03] fgmart-zz opened #94 "-synchronous testing with 25 users"

[2012-04-06 14:03] fgmart-zz opened #95 "-seed database with launch set of projects"

[2012-04-06 14:05] fgmart-zz opened #96 "-performance report with set ~100 beta users"
depends on #93 #94 #97

[2012-04-06 14:06] fgmart-zz opened #97 "-beta with 100 users"

[2012-04-06 14:09] derrell commented on #20
Replaced by #81

[2012-04-06 14:09] #20 closed, assigned to nobody

[2012-04-06 14:10] derrell commented on #21
Replaced by #80

[2012-04-06 14:10] #21 closed, assigned to Grav3mind

[2012-04-06 14:21] derrell commented on #79
Paul, what happens, at present, if someone tries to assign themselves a display name that is identical except for case, to one that already existed before your recent changes, i.e., one that has nothing in the new canonical displayName_lc field?

[2012-04-07 18:31] derrell opened #98 "Single-character description crashes app"
From @mijoda ...

I've been debugging some issues with setting status in my module
(about which more soon), and just encountered a related bug in myapps:
 If you enter a single-character app description, the app halts at
line 172 of MApps.js, in the _populateSearch() function, with a
"wordsToAdd is null" error.  Don't know why anyone would do that, but
it will happen.

[2012-04-07 18:32] derrell commented on #98
Paul, to you.

[2012-04-10 13:56] derrell commented on #23
The view count is incremented twice now, when an app is visited. I have also noticed that I see the page display twice. This is likely due to the hash being set, so we need to figure out how to not reload the page.

[2012-04-11 16:35] reedspool opened #100 "Pending Apps Appear in Find Apps (Which means flagged Apps!)"
I asked the Beta to Flag an App, my App, namely: "Muahaha"

It received 5 flags, which correctly sent a notification to Derrell, and set the status of the App to "Pending"

The App no longer appears on the home page, but still comes up in Find Apps!    BUUUG!

Have fun cleaning up more of my summer work, Paul!

[2012-04-11 17:22] derrell commented on #100
@cpuwhiz11 to you

[2012-04-12 20:21] cpuwhiz11 commented on #59
This is going to be fixed as part of issue #84.

[2012-04-17 17:19] derrell opened #105 "deleteVisitor should delete that visitor's apps (and all related objects)"

[2012-04-17 19:00] derrell opened #106 "App name too short, in By This Author on App page"
See, for example, the Sim app called format_text-direction-rtl which gets cut off before the "-rtl"

[2012-04-17 23:16] derrell commented on #98
Paul, I'm giving this one to Mike.

[2012-04-18 22:00] mijoda commented on #98
Derrell, this one seems really simple.  Relevant code, from _populateSearch in MApps:

[code]

The problem is that the code wants wordsToAdd to be the empty array when there are no matches, but in fact it's null, so null.forEach(...) throws an error.  So we move the wordsToAdd.forEach(...) loop into an if(wordsToAdd) {...} conditional and, done, world's shortest bugfix!

I'm assuming that we're OK

[2012-04-19 02:28] derrell commented on #98
That sounds right.

One common JavaScript way to make this change would be to change that one line as follows:

wordsToAdd = dataObj[appDataField].match(acceptable_word) || [ ];

[2012-04-19 12:47] derrell commented on #85
Implemented in alpha022.

[2012-04-19 12:47] #85 closed, assigned to cpuwhiz11

[2012-04-19 12:50] derrell commented on #59
In alpha022

[2012-04-19 12:50] #59 closed, assigned to cpuwhiz11

[2012-04-19 12:51] derrell commented on #58
in alpha022

[2012-04-19 12:51] #58 closed, assigned to cpuwhiz11

[2012-04-19 12:51] derrell commented on #84
in alpha022

[2012-04-19 12:51] #84 closed, assigned to cpuwhiz11

[2012-04-19 13:04] derrell opened #109 "Search Results pane doesn't stretch to available height"
In FindApps, the search results should take all available space.

[2012-04-19 13:13] derrell commented on #91
@mijoda to you

[2012-04-19 13:15] derrell commented on #91
The fully supported browsers are Chrome and Firefox. Browsers other than IE should work for everything except uploading apps. Recent versions of IE should even work for everything except uploading apps, but formatting and colors are not presented correctly.

[2012-04-19 13:16] derrell commented on #86
@mijoda to you

[2012-04-19 13:16] derrell commented on #86
Contact me for the text to be presented for these.

[2012-04-19 18:09] derrell opened #111 "Pressing Enter to submit a comment presses wrong button"
Instead of pressing the Add button to submit the comment, it presses the Search button on FindApps.

[2012-04-19 20:08] derrell commented on #98
Committed. Not yet online. Closing.

[2012-04-19 20:08] #98 closed, assigned to mijoda

[2012-04-19 20:38] #100 closed, assigned to derrell

[2012-04-19 20:57] derrell commented on #82
Implemented this to simply elide banned comments entirely, with no indication to the user. We can open a new issue, later, if we want to instead display a marker, but that will be slower. It becomes more relevant when we have threaded comments.

[2012-04-19 20:57] #82 closed, assigned to derrell

[2012-04-20 12:34] derrell opened #112 "App upload postprocessing needs a kick-start"
On (seemingly rare) occasion, an uploaded app remains in the "Processing" state, never becoming "Active." Something (unknown) is happening to the background task that completes the processing of an app, and at present, there is no mechanism for restarting that task if it halts abruptly. Adding such a mechanism is non-trivial, as we don't want to do a lengthy search for apps requiring additional pr

[2012-04-20 14:33] fgmart-zz commented on #112
Non critical but let's monitor it in the beta.

[2012-04-20 17:03] fgmart-zz opened #113 "fix security hole where it's possible to upload an APK instead of a ZIP"
See http://app-inventor-gallery.appspot.com/#page%3DApp%26uid%3D60009%26label%3DFrog%20APK%20FILE%20!!! for an example of this having been done.

[2012-04-20 17:09] fgmart-zz opened #114 "Populate Gallery with real content"

[2012-04-21 00:40] fgmart-zz opened #115 "non-whitelisted uname should be shown as "Guest""
If a user has not been whitelisted on the site, they should not be presented with an option to change their username (because this will fail).

Instead, the username should be shown as "Guest".

There are a couple of further design decisions:
- Maybe "Guest" should be clickable, and if clicked, it could display a dialog informing the user that s/he has browse-only permissions on the site.  Perhaps

[2012-04-21 00:40] fgmart-zz opened #116 "Users should not be allowed to change their uname to "guest""
Related to #115.

[2012-04-21 01:36] derrell commented on #115
Whitelist is a very temporary condition. At present, all who request it are being granted whitelist access. Spending time to write code to deal with non-whitelisted users seems to me a waste of time. We can, however, add a note or a link or something on the home page which explains the permission denied messages. (The whole issue of replacing those awful alerts needs to be dealt with at some point

[2012-04-21 01:37] derrell commented on #116
There are probably a few other special names that should be excluded. Off the top of my head, I can think of "admin" and "administrator" and maybe "superuser". There are probably a few others.

[2012-04-21 01:52] fgmart-zz commented on #115
Before the MIT AI Summit milestone, would we set things to automatically grant authorship privileges to anyone who finds the site and logs in?

[2012-04-21 16:48] derrell commented on #115
I think that's probably fine. We will get a gradual increase in use, as long as no mass-mailing is made.

[2012-04-22 04:09] mijoda commented on #86
I have the footer with links to working local pages containing text copied from the docs.  Now I'm adding simple formatting.  Just to make sure:
- Hal's TOS replaces the Google one presently linked to, so we'll have 3 local pages and no links to Google.
- The TOS doc says "Terms of Use", not "Terms of Service", so I will call it that.

[2012-04-22 11:41] fgmart-zz commented on #86
The new Terms of Use page will be one long scrolling page, right?

[2012-04-22 11:49] fgmart-zz commented on #115
OK. The problem goes away if guests are automatically given authorship privileges.

[2012-04-22 12:16] mijoda commented on #86
Yes.  The 3 pages should be done today.

[2012-04-22 14:01] derrell commented on #115
Guests (non-logged-in users) are a completely different beast. We don't currently allow them, and doing so requires fixing properly the permission denied errors... probably also by disabling all of the features they don't have access to when not logged in. I'd suggest creating a new issue for this.

[2012-04-22 14:03] derrell commented on #86
Exactly. Three new, local pages; no link to Google's page. Changing the link from "service" to "use" is fine.

[2012-04-22 19:51] mijoda commented on #86
I issued a pull request for this and issue #91.  It took a little longer than I'd have liked due to my rustiness on HTML and CSS--thanks for the refresher course!

Let me know if you think there should be content or formatting changes.

I fixed a couple of obvious typos in the TOS:

You have the right to download delete them...    -->
You have the right to download or delete them...

If you fee th

[2012-04-22 19:55] mijoda commented on #91
Pull request issued with #86.  This page is pretty spare, but there's not a lot to be said.  Suggestions welcome.

[2012-04-23 00:01] derrell commented on #91
in 023

[2012-04-23 00:01] #91 closed, assigned to mijoda

[2012-04-23 00:02] derrell commented on #86
in 023.

[2012-04-23 00:02] #86 closed, assigned to mijoda

[2012-04-23 13:30] derrell opened #118 "View count incremented twice for each view of an app"
The view count is incremented twice now, when an app is visited. I have also noticed that I see the page display twice. This is likely due to the hash being set, so we need to figure out how to not reload the page.

This is caused by the implementation of #23 (Modify browser's Location Bar URL for shortcuts).

[2012-04-23 13:31] derrell commented on #118
@cpuwhiz11 to you, replacing #23

[2012-04-23 13:33] derrell commented on #23
The view count problem now has its own issue (#118). Closing this issue as its original intent is completed.

[2012-04-23 13:33] #23 closed, assigned to cpuwhiz11

[2012-04-23 15:34] cpuwhiz11 opened #119 "App Page Does not Scroll"
If an app page cannot fit a particular screen resolution it should have a scroller so that a user can scroll down to the parts of the page they cannot see. Currently no such scroller exists, thus parts of the app page can become inaccessible (Mostly just the button to post comments).

[2012-04-26 12:45] #1 closed, assigned to derrell

[2012-04-26 12:45] #7 closed, assigned to nobody

[2012-04-26 12:45] #8 closed, assigned to derrell

[2012-04-26 12:45] #9 closed, assigned to nobody

[2012-04-26 12:45] #10 closed, assigned to derrell

[2012-04-26 12:46] derrell commented on #19
in alpha023

[2012-04-26 12:46] #19 closed, assigned to mijoda

[2012-04-26 12:54] derrell commented on #111
aiagallery.module.dgallery.findapps.CriteriaSearch uses a qx.ui.core.Command object to associate pressing the Enter key from anyplace on the page with a click on the Search button. When findapps receives a "disappear" event, the Command should be removed from the button, and when it again receives an "appear" event, the Command should be reactivated. This may be most easily implemented by adding a

[2012-05-08 14:35] derrell commented on #80
I have incorporated the Comment Flagging from pull request #122, and modified it to hide rather than disable the Flag link after a comment has been flagged.

Similarly, when a comment is first displayed, the Flag link should be hidden if this visitor has already flagged that comment.

[2012-05-08 14:46] derrell commented on #111
Pulled.

[2012-05-08 14:46] #111 closed, assigned to mijoda

[2012-05-08 14:46] derrell commented on #81
Pulled.

[2012-05-08 14:47] derrell commented on #81
No, not pulled. Doesn't seem to work.

[2012-05-08 21:37] derrell commented on #81
Merged.

[2012-05-08 21:37] #81 closed, assigned to cpuwhiz11

[2012-05-08 21:39] derrell commented on #80
I re-incorporated my changes from the previous merge, since your code hadn't pulled from upstream. Please now pull from upstream and then prevent the "Flag as inappropriate?" link from displaying if the user has already flagged the comment.

[2012-05-10 14:21] derrell commented on #113
Fixed with pull request #125

[2012-05-10 14:21] #113 closed, assigned to nobody

[2012-05-10 14:28] derrell commented on #116
@mijoda to you. This should be simple. There is already a function that validates display names, so you just need to add a bit more sophistication to it. I suggest creating a static member which is an array of invalid display names, and ensuring that none of those (case-insensitive) is selected. (qx.lang.Array.contains(haystackArray, needleString) will be your friend.)

[2012-05-10 14:30] derrell opened #126 "App Management editor scales 32x32 image to large image"
The App Management table display uses small images. When the editor for an app is displayed, however, a higher-resolution image should be displayed, rather than scaling the 32x32 image to a large size

[2012-05-10 14:30] derrell commented on #126
@mijoda to you

[2012-05-10 15:29] derrell opened #127 "User Management has exception when adding permission group"
An attempt to add a permission group to a user fails with an exception every time.

[2012-05-10 15:29] #127 closed, assigned to nobody

[2012-05-10 15:31] derrell opened #128 "User Management editor displays Banned instead of real status"

[2012-05-10 15:33] derrell commented on #128
@mijoda to you. You've worked with related code recently, so this should hopefully be easy.

[2012-05-13 23:43] derrell commented on #40
Fixed with #124

[2012-05-13 23:43] #40 closed, assigned to cpuwhiz11

[2012-05-16 15:33] derrell opened #130 "Access of private variable from other class"
findapps.Gui.getSearchButton() accesses __button in criteria class.

[2012-05-16 19:57] derrell commented on #130
@cpuwhiz11 to you. I think the Criteria class needs a public getter for its __button private member.

[2012-05-17 13:21] derrell opened #133 "Comment management: add ability to show comment in context"
Currently, comments are displayed in the Comment Management page, without any context or even an indication of what application they apply to. There should, at a minimum, be a link to the app to which the comment applies, or some other way of displaying the comment thread that led to the flagged comment.

[2012-05-17 13:24] derrell commented on #118
Fixed with pull request #131.

[2012-05-17 13:24] #118 closed, assigned to cpuwhiz11

[2012-05-17 13:36] derrell commented on #80
Completed with #129

[2012-05-17 13:36] #80 closed, assigned to cpuwhiz11

[2012-05-17 13:37] #130 closed, assigned to cpuwhiz11

[2012-05-18 12:50] derrell commented on #109
@mijoda to you
@fgmart fyi

[2012-05-18 12:51] derrell commented on #106
@mijoda to you
@fgmart fyi

[2012-05-18 12:55] derrell commented on #133
For now, the easiest thing to do is to add a "Show app" link to each comment. The code in that link's event handler will run the same code as when you click on an app from the home page.

@mijoda to you
@fgmart fyi

[2012-05-18 13:28] #128 closed, assigned to mijoda

[2012-06-29 19:14] wolberd commented on #112
the "processing" state problem seems pretty common. In my experience, the state is actually changed to active, but the display is not updated (user needs to refresh add app page). But processing can take awhile and I think get hung up sometimes as described in the issue, e.g., user Ellen Spertus had this problem and quit trying to add.

[2012-06-29 19:15] wolberd commented on #114
As of June 29, I've added most of the app inventor book tutorial apps including links to tutorials/screencasts

[2012-12-31 20:17] cpuwhiz11 commented on #133
Fix for this in https://github.com/karuto/aig/pull/10.

[2012-12-31 20:18] cpuwhiz11 commented on #116
Fix for this in https://github.com/karuto/aig/pull/8.

[2012-12-31 20:21] cpuwhiz11 commented on #112
Sounds like a channel. I believe this should be fixed in https://github.com/karuto/aig/pull/9. If not will have to find more information.

[2012-12-31 20:23] cpuwhiz11 commented on #109
This seems to be fixed in master.

[2012-12-31 20:31] cpuwhiz11 commented on #106
Solved in master with an ellipsis at end of title.

[2012-12-31 20:46] cpuwhiz11 commented on #79
I do not think this is a concern any more. Looking at the currently running mit-appinventor-gallery I checked the datastore with the following query:

SELECT \* FROM visitors WHERE displayName_lc = NULL

There were no results so we do not have to worry about a user not having this property filled in.

[2012-12-31 20:46] cpuwhiz11 commented on #76
Looks like this has been integrated into master and can be closed.

[2012-12-31 20:48] cpuwhiz11 commented on #73
This should be resolved when we implement anonymous user support in this pull https://github.com/karuto/aig/pull/11.

[2012-12-31 20:49] cpuwhiz11 commented on #72
Integrated into master in this pull https://github.com/app-inventor-gallery/aig/pull/125. Should be closed.

[2012-12-31 21:09] cpuwhiz11 commented on #53
I think this issues has been sorted. A check is in place that limits the upload size of an image into the gallery. This image upload size is below the 1MB boundary App Engine specifies (https://developers.google.com/appengine/docs/java/datastore/overview#Quotas_and_Limits). If you had uploaded an image beyond this size you have seen that kind of exception.

That said, given that the image link is

[2012-12-31 21:14] cpuwhiz11 commented on #52
Issue still exists.

[2012-12-31 21:46] cpuwhiz11 commented on #52
Fix for this memory leak issue in this pull https://github.com/karuto/aig/pull/10.

[2013-01-01 15:05] #109 closed, assigned to mijoda

[2013-01-01 15:05] #106 closed, assigned to mijoda

[2013-01-01 15:06] cpuwhiz11 commented on #97
Over 2000 users now.

[2013-01-01 15:06] #97 closed, assigned to nobody

[2013-01-01 15:07] #96 closed, assigned to nobody

[2013-01-01 15:07] #95 closed, assigned to nobody

[2013-01-01 15:07] #94 closed, assigned to nobody

[2013-01-01 15:07] #93 closed, assigned to nobody

[2013-01-01 15:07] #92 closed, assigned to nobody

[2013-01-01 15:07] #79 closed, assigned to cpuwhiz11

[2013-01-01 15:07] #76 closed, assigned to derrell

[2013-01-01 15:08] #72 closed, assigned to nobody

[2013-01-01 15:08] #53 closed, assigned to nobody

[2013-01-01 15:38] cpuwhiz11 commented on #44
I put a space between the save and reset/delete button so that it would be unlikely to hit them by mistake. Fix included in https://github.com/karuto/aig/pull/10.

[2013-01-01 15:40] cpuwhiz11 commented on #46
Seems like this a no fix.

[2013-01-01 15:40] #46 closed, assigned to nobody

[2013-01-01 15:59] cpuwhiz11 commented on #36
Given the security issues involved and the limited user appeal I am closing this issue for now.

[2013-01-01 15:59] #36 closed, assigned to nobody

[2013-01-01 16:10] cpuwhiz11 commented on #31
We are past this point.

[2013-01-01 16:10] #31 closed, assigned to derrell

[2013-01-01 16:15] cpuwhiz11 commented on #42
This allows a user to make their app active (for viewing) or inactive (cannot be viewed by other users).

[2013-01-01 17:40] cpuwhiz11 commented on #32
We are at around 2000 users so I would consider this closed.

[2013-01-01 17:40] #32 closed, assigned to nobody

[2013-01-01 17:42] cpuwhiz11 commented on #43
By extension this issue should cover other search engines (e.g. Bing).

[2013-01-01 20:25] cpuwhiz11 commented on #119
Still working on sorting this out. Ugly solution for edge case implemented in https://github.com/karuto/aig/pull/10.